/*block advantages.less*/

/* Файл variables.less */

@red-border: 1px dashed red;


@tablet-width: 768px;
@desktop-width: 1200px;
@mobile-width-only: 767px;



.advantages {
  position: relative;
  border: @red-border;
}

.advantages__wrapper {
  position: relative;

  border: 1px dashed yellow;
}

.advantages__list {
  position: relative;

  border:  1px dashed green;
}

.advantages__item {
  border: 1px dashed pink;
  text-align: center;
}










/*ADVANTAGES

.advantages::after {
  content: '';
  position: absolute;
  bottom: -50px;
  left: 0;
  width: 100%;
  height: 0;
  border: transparent;
  border-top: 35px solid red;
  

}

.advantages__img {
  margin-bottom: 35px;
}
.advantages__list {
  margin-bottom: 25px;
}
.advantages__title {
  margin-bottom: 15px;
  font-size: 1.5em;
  line-height: 30px;
  text-transform: uppercase;
  color: @white;
  font-weight: bold;
}
.advantages__description {
  color: @white;
}

.advantages__toggles {
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
}*/