
@bg-darkgrey: #292929;
@bg-lightgrey: #f8f5f2;
@tablet-width: 768px;
@desktop-width: 1200px;
@mobile-width-only: 767px;
@price-background: #353535;

.works__price {
  position: relative;
  
  background-color: @price-background;
  color: #ffffff;

  margin: 0;
  padding: 70px 20px 20px;

  &::after {
    content: '';
    position: absolute;
    bottom: -35px;
    left: 0;
    
    border-top: 35px solid @price-background;
    border-left: 160px solid transparent;
    border-right: 160px solid transparent;
    border-bottom: none;
  }
}

.price__title {
  margin: 0;
  padding: 0;

  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.price__info {
  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;
  margin-top: 30px;
}

.price__table {
  border-collapse: collapse;
 
  width: 100%;
  margin: 0;
  padding: 0;
  margin-bottom: 15px;

  font-size: 20px;
}

.price__item {
  width: 100%;
  height: 70px;
  margin-bottom: 20px;
}

.price__item td {
  vertical-align: top;
}

.price__number,
.price__offer--display {
  display: none;
}

.price__offer {
  line-height: 20px;
  font-weight: bold;
}

.price__offer--mobile {
  display: inline-block;
  margin-top: 7px;

  font-weight: normal;
}

.price__value {
  text-align: right;
}

.price__discount {
  display: flex;
  align-items: center;
  
  margin: 0;
  padding: 0;
  padding-left: 20px;
  width: 100%;
  height: 90px;


  border: 1px solid #484848;
  box-sizing: border-box;
}

.price__disount-picture {
  margin: 0;
  padding: 0;
  width: 58px;
  height: 57px;
}

.price__disount-text {
  margin: 0;
  padding: 0;
  margin-left: 35px;
  width: 120px;
  
  font-size: 20px;
  line-height: 23px;
}



@media(min-width: @tablet-width) {

  .works__price {
    padding: 80px 64px 55px;
  
    &::after {
      border: none;
    }
  }

  .price__title {
    font-size: 40px;
    line-height: 40px;
    text-align: left;
  }

  .price__info {
    margin-top: 50px;
  }

  .price__table {
    margin-bottom: 10px;
  }
  
  .price__item {
    height: 55px;
  }
  
  .price__item td {
    border: 1px solid #4a4a4a;
    padding-left: 20px;

    text-align: left;
    box-sizing: border-box;

    vertical-align: middle;
  }

    .price__number br,
    .price__offer--mobile {
      display: none;
  }

    .price__number,
    .price__offer--display {
      display: table-cell;
  }

  .price__item .price__number {
    padding: 0;
    width: 70px;
    text-align: center;
  
    opacity: 0.3;
  
  }

  .price__offer--display,
  .price__value {
    width: 160px;
  }

  .price__discount {
    height: 115px;
  }

  .price__disount-picture {
    width: 72px;
    height: 71px;
  }

  .price__disount-text {
    margin-left: 85px;
    width: 370px;
  
    font-size: 30px;
    line-height: 30px;

    font-weight: bold;
    text-transform: uppercase;
  }
}



@media(min-width: @desktop-width) {

  .works__price {
    padding-left: 119px;;
    padding-right: 119px;
  }

  .price__info {
    flex-direction: row;
    justify-content: space-between;

    margin-top: 50px;
  }

  .price__table {
    margin: 0;
    width: 630px;
  }

  .price__value {
    width: 150px;
  }

  .price__discount {
    flex-direction: column;
    justify-content: space-around;

    padding: 0;
    margin: 0;
    width: 269px;
    height: auto;
  }

  .price__disount-picture {
    padding: 0;
    margin: 0;
    
    width: 142px;
    height: 139px;
  }

  .price__disount-text {
    margin: 0 auto;
    width: 145px;
  
    padding: 0;
    margin: 0;
    font-size: 20px;
    line-height: 20px;
    text-align: center;

    font-weight: normal;
    text-transform: none;
  }
    
}



