/*block reviews.less*/

@red-border: 1px dashed red;

@tablet-width: 768px;
@desktop-width: 1200px;
@mobile-width-only: 767px;


.reviews {
  position: relative;

  padding: 0;
  background-color: #f8f5f2;
  color: #000000;

  &::after {
    content: '';
    
    position: absolute;
    bottom: -35px;
    left: 0;
    
    border-top: 35px solid #f8f5f2;
    border-left: 160px solid transparent;
    border-right: 160px solid transparent;

  }
}

.reviews__wrapper {
  display: flex;
  flex-flow: column nowrap;

  width: 280px;
  margin: 0 auto;
  padding: 30px 0 20px;
}

.reviews__title {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;

  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
}

.reviews__write {
  display: none;
}

.reviews__list {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

.reviews__item {
  border: @red-border;
  position: relative;

  display: none;
  flex-flow: row wrap;
  width: 100%;

  margin: 0 auto;
  padding: 0;
  
  &:first-child {
    display: flex;
  }
}

.reviews__author-picture {
  border: @red-border;
  
  position: absolute;
  left: 0;
  top: 8px;
  
  width: 50px;
  height: 48px;
  margin: 0;
  padding: 0;

  border: 1px solid #e5ddd5;
  
  box-sizing: border-box;
  overflow: hidden;
}

.reviews__author-name {
  width: 210px;
  margin: 0;
  padding: 0;
  margin-left: 70px;
  margin-bottom: 5px;

  font-weight: bold;
  font-style: normal;
  font-size: 24px;
  line-height: 27px;

  border: @red-border;
}

.reviews__text {
  width: 210px;
  margin: 0;
  padding: 0;
  margin-left: 70px;

  font-size: 18px;
  line-height: 27px;

  border: @red-border;
}

.reviews__prev,
.reviews__next {
  display: none;
}

.reviews__toggles {
  display: flex;
  justify-content: space-between;

  margin: 0 auto;
  padding: 0;
  width: 80px;
  height: 10px;
}

.reviews__toggles .slider-current {
  background-color: #353535;
  border-color: #616160;
}


@media (min-width: @tablet-width) {
  .reviews__wrapper {
    flex-flow: row wrap;
    justify-content: space-between;

    width: 640px;

    padding: 35px 0 70px;
  }

  .reviews__title {
    width: 320px;

    font-size: 40px;
    line-height: 50px;
  }

  .reviews__write {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 160px;
    height: 50px;

    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    text-transform: uppercase;

    border: 1px solid #e5ddd5;

    &:hover {
      border-color: #d5c9bd;
    }
  
    &:active {
      border-color: #d5c9bd;
      background-color: #d5c9bd;
      color: rgba(0, 0, 0, 0.3)
    }
  }

  .reviews__list {
    position: relative;

    display: flex;
    flex-flow: row nowrap;
    width: 100%;

    border: 1px solid #d5c9bd;
  }
  
  .reviews__item {
    padding: 35px 30px;
    order: 2;
  }

  .reviews__prev,
  .reviews__next {
    display: flex;

    width: 50px;
    margin: 0;
    padding: 0;

    font-size: 0;
    background: none;

    border: none;
    outline: 1px solid #d5c9bd;
  }

  .reviews__prev {
    order: 1;
  }

  .reviews__next {
    order: 3;
  }


}
