/* Файл variables.less */

@bg-dark-color: #242424;
@bg-darkgrey: #292929;
@brown-light: #826550;
@brown-dark: #6a4d38;
@white: #ffffff;
@white-dark: #f8f5f2;
@grey: #404040;
@grey-light: #4e4e4e;
@grey-dark: #353535;


@font: 'PT Sans Narrow', "Arial", sans-serif;
@standart-font: 20px;
@standart-line-height: 27px;

@border: 1px solid #e5ddd5;
@border-footer: 1px solid #3f3f3f;
@red-border: 1px dashed red;


@tablet-width: 768px;
@deckspot-width: 1200px;

/*
@font-face {
  font-family: PTSans;
  src: url(../fonts/PT_Sans-Narrow-Web-Bold.ttf);
  src: url(../fonts/PT_Sans-Narrow-Web-Regular.ttf);
  font-weight: bold;
  font-weight: normal;
}/*


/* Файл scaffolding.less */

body {
  width: 320px;
  margin: 0 auto;
  padding: 0;
  border: 2px solid yellow;

  font-family: @font;
  font-size: 18px;
  line-height: 27px;

  color: #f7f4f1;
  font-style: normal;

  background-color: @bg-darkgrey;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* Файл outlines.less */

/*body {
  background: @bg-darkgrey url("img/bb-mobile.png") no-repeat 50% 0;
  background-size: 720px auto;
  min-height: 750px;
}*/

/* Файл mixins.less */

.no-outline() {
  outline: none;
  background: transparent;

  &::before {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  body {
    min-width: 720px;
    /*max-width: 1196px;
    background: @bg-dark-color url(../img/bb-desktop.png) no-repeat 50% 0;
    background-size: 1178px auto;*/
  }
}

@media (min-width: @deckspot-width) {
  body {
    min-width: 1200px;/*
    background: @bg-dark-color url(../img/bb-desktop.png) no-repeat 50% 0;
    background-size: 1391px auto;*/
  }
}


/* Файл blocks/page-header.less */

.page-header {
  display: flex;
  flex-direction: column;
}

.page-header__logo {
  height: 85px;

  text-align: center;
}

.page-header__logo img {
  width: 226px;
  height: 85px;
}

@media (min-width: @tablet-width) {

  .page-header {
    background-color: #000000;
  }

  .page-header__logo {
    order: 2;

    width: 100%;
    height: 400px;

    background-color: #000000;
    background-image: url("../img/bg-header.jpg");
    background-repeat: no-repeat;
    background-position: center -9px;
  }

  .page-header__logo img {
    display: block;
    width: 370px;
    height: auto;
    margin: 0 auto;
    margin-top: 40px;
  }


}



@media (min-width: @deckspot-width) {

  .page-header__logo {
    height: 648px;

    background-position: center 0;
    background-size: cover;
  }

  .page-header__logo img {
    margin-top: 57px;
  }
}

/*
.page-header,
.page-header__logo {
  .no-outline();
}

.page-header__logo {
  background: rgba(255, 255, 255, 0.5);
}*/


/* Файл blocks/main-nav.less */

.main-nav {
  position: relative;
  
  width: 320px;
  min-height: 51px;
  margin: 0 auto;

  background-color: @brown-light;
}

.main-nav__toggle {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;

  display: block;
  width: 70px;
  height: 50px;
  
  background-color: @brown-dark;

  cursor: pointer;
  border: none;
  font-size: 0;

  &:hover,
  &:active {
    background-color: #624530;
  }
}
.main-nav--closed .main-nav__toggle::before {
  content: '';
  position: absolute;
  right: 15px;
  top: 17px;
  width: 36px;
  width: 36px;
  height: 2px;

  background-color: #ffffff;
  box-shadow: 0 8px 0 0 #ffffff, 0 16px 0 0 #ffffff;
}

.main-nav--closed .main-nav__toggle:active::before {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 0 0 rgba(255, 255, 255, 0.3), 0 16px 0 0 rgba(255, 255, 255, 0.3);
}

.main-nav--opened .main-nav__toggle {
  top: 0;
  right: auto;
  left: 0;

  &::before,
  &::after {
    content: "";

    position: absolute;
    top: 24px;
    left: 18px;

    width: 36px;
    height: 2px;

    background-color: #ffffff;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:active::before,
  &:active::after {
    background-color: rgba(255, 255, 255, 0.3);
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.site-list {
  /* Временно для сетки */
  min-height: 255px;
}


@media (min-width: @tablet-width) {
  .main-nav {
    width: auto;
    margin: 0;
  }

  .main-nav__wrapper {
    display: flex;
    justify-content: space-between;
    width: 640px;
    margin: 0 auto;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    display: flex;
    justify-content: space-between;
    
    /* Временно для сетки */
    min-height: 70px;
  }

  .site-list {
    width: 570px;
  }

  .user-list {
    width: 60px;
  }
}

@media (min-width: @deckspot-width) {
  .main-nav__wrapper {
    width: 960px;
  }

  .site-list {
    width: 780px;
  }

  .user-list {
    width: 160px;
  }
}


/* Файл blocks/stats.less */

.stats {
  width: 320px;
  margin: 0 auto;

  /* Временно для сетки */
  min-height: 570px;
}

.stats__header {
 
  background-color: @white;
  padding: 30px 20px;
  text-align: center;
  color: #000000;
}

.stats__slogan {
  display: inline-block;
  margin-bottom: 15px;
  padding: 0;
  font-size: 30px;
  line-break: 30px;
  text-transform: uppercase;
}

.stats__intro {
  margin: 0;
  padding: 0;
  font-size: 20px;
}

.stats__legend {
  display: inline-block;
  width: 100%;
  opacity: 0.3;
  font-size: 20px;
  text-align: center;

}

.stats__legend sup {
  position: relative;
  top: 5px;
}

.stats__legend--top {
  display: none;
}

.stats__list {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;

  /* Временно для сетки*/
  height: 320px;
}
.stats__list tr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px; 
}
.stats__list tr:nth-child(even) {
  background-color: @grey-light;
}
.stats__list tr:nth-child(odd) {
  background-color: @grey-dark;
}
.stats__list tr:first-child,
.stats__list tr:last-child {
  background-color: @grey;
}

.stats__value {
  position: relative;
  padding-left: 20px;
  font-size: 40px;
  line-height: 18px;
  font-weight: bold;
}
.stats__value sup {
  position: absolute;
  right: -15px;
  top: 0;
}
.stats__field {
  padding-right: 20px; 
  line-height: 18px;
  text-align: right;
}



@media (min-width: @tablet-width) {
  .stats {
    width: 640px;
    margin-top: -190px;
  
    /* Временно для сетки */
    min-height: 500px;
  }
  
  .stats__header {
    position: relative;
    z-index: 1;
    display: flex;
    flex-flow: row wrap;

    padding: 30px 40px;
    text-align: left;
  }

  .stats__slogan {
    width: 220px;
    font-size: 40px;
    line-height: 40px;
    margin-right: 60px;
    text-transform: initial;
  }

  .stats__intro {
    width: 220px;
    padding-left: 30px;
  }
  
  .stats__legend--top {
    display: inline-block;
    text-align: left;
  }

  .stats__legend--bottom {
    display: none;
  }

  .stats__list {
    flex-direction: row;
  }
  .stats__list tr {
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: center;
    float: left;
    width: 320px;
    height: 160px; 
  }

  .stats__value {
    padding-left: 35px;
    font-size: 72px;
    line-height: 76px;
  }

  .stats__value sup {
    right: -25px;
    top: -5px;
  }

  .stats__field {
    padding-left: 35px;
    width: 100%;
    font-size: 20px;
    text-align: left;

  }

  .stats__field br {
    display: none;
  }

} 

@media (min-width: @deckspot-width) {
  .stats {
    display: flex;
    flex-flow: row no-wrap;
    width: 960px;
    margin-top: -160px;
  
    /* Временно для сетки */
    min-height: 260px;
  }

  .stats__header {
    flex-direction: column;
    justify-content: space-between;
    width: 240px;

    /* Временно для сетки */
    min-height: 260px;
  }

  
  .stats__slogan,
  .stats__intro {
    margin: 0;
    padding: 0;
  }

  .stats__list {
    width: 640px;
  }
}

/*.page-header__logo {
  display: block;
  padding: 30px 0 25px;
  text-align: center;
}*/



/* HEADER 





.main-nav__wrapper {
  position: absolute;
  top: 0;
  right: 0;
}

.main-nav__list {
  width: 250px;
  background-color: @brown-bg;
}
.main-nav__list::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  width: 8px;
  height: 100%;
  background-image: linear-gradient(to right, #000000, transparent);
  opacity: 0.3;
  z-index: 1;
}

.close {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 70px;
  height: 50px;
  background-color: @main-nav-color;
  z-index: 3;
}
.close::before,
.close::after {
  content: '';
  position: absolute;
  left: 32px;
  top: 8px;
  width: 3px;
  height: 36px;
  background-color: @white;
}
.close::after {
  transform: rotate(45deg)
}
.close::before {
  transform: rotate(-45deg)
}

.site-list__item,
.user-list__item {
  display: block;
  height: 50px;
  border-top: 1px solid #886e5b;
  border-bottom: 1px solid #71543f;
  text-align: left;
}

.site-list__item a,
.user-list__item a {
  display: flex;
  align-items: center; 
  width: 100%;
  height: 100%;
  padding: 0 20px;
  font-size: 0.9em;
  line-height: 24px;
  color: @white;
  box-sizing: border-box;
}
.site-list__item a {
  text-transform: uppercase;
  font-weight: bold;
}
.user-list .user-list__login {
  position: relative;
  padding-left: 40px;
  background-color: @main-nav-color;
}
.user-list .user-list__login::before {
  content: '';
  position: absolute;
  left: 20px;
  top: 15px;
  width: 16px;
  height: 16px;
  background-image: url("../img/login-in.png");
  background-repeat: no-repeat;
  opacity: 0.3;
}

.site-list {
  width: 320px;
  position: relative;
}
.site-list__item--active {
  
  display: block;
  border: none;
}
.site-list__item--active a {
  padding: 0;
  justify-content: center;
}


/*ADVANTAGES
.advantages {
  position: relative;
}
.advantages::after {
  content: '';
  position: absolute;
  bottom: -50px;
  left: 0;
  width: 100%;
  height: 0;
  border: transparent;
  border-top: 35px solid red;
  

}

.advantages__img {
  margin-bottom: 35px;
}
.advantages__list {
  margin-bottom: 25px;
}
.advantages__title {
  margin-bottom: 15px;
  font-size: 1.5em;
  line-height: 30px;
  text-transform: uppercase;
  color: @white;
  font-weight: bold;
}
.advantages__description {
  color: @white;
}

.advantages__toggles {
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
}

/*NEWS
.news {
  background-color: @white-dark;
}

.news__wrapper {
  margin: 0;
  padding: 70px 20px 28px;
  border-bottom: @border;
}

.news__title {
  font-size: 1.5em;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.news__item {
  padding: 20px 0;
  border-bottom: @border;
}

.news__date {
  display: inline-block;
  width: 40px;
  padding: 10px;
  padding-bottom: 5px;
  font-size: 0.8em;
  line-height: 18px;
  text-align: center;
  background-color: #000000;
  color: @white;
}
.news__day {
  font-size: 1.5em;
  line-height: 30px;
}

.news__text {
  margin: 0;
  padding: 0;
  font-size: 0.9em;
}

.news__to-all {
  display: block;
  margin: 0;
  padding: 15px 0;
  border-bottom: @border;
  font-size: 0.9em;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}


/*REVIEWS

.reviews {
  margin: 0;
  padding: 30px 20px 15px;
  background-color: @white-dark;
}

.reviews__title {
  font-size: 1.5em;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

.reviews__item {
  width: 300px;
  margin-bottom: 25px; 
  position: relative;
}

.reviews__author-picture {
  margin: 0;
  padding: 0;
  width: 50px;
  height: 48px;
  border: @border;
  box-sizing: border-box;
  overflow: hidden;
}

.reviews__author-name {
  display: inline-block;
  font-weight: bold;
  font-style: normal;
  font-size: 1.2em;
  margin-bottom: 10px;
}

.reviews__text {
  font-size: 0.9em;
  margin: 0;
  padding: 0;
}


/*FOOTER

.page-footer {
  background-color: @footer-bg;
}

.page-footer__wrapper {
  margin: 0;
  padding: 40px 0 20px;
}

.page-footer__contacts {
  margin: 0;
  margin-bottom: 25px;
  padding: 0 20px;
  font-size: 0.9em;
  text-align: center;
  color: @white;
}

.contacts__title {
  font-weight: bold;
}
.contacts__text {
  margin: 0;
  padding: 0;
}

.contacts__phone {
  display: inline-block;
  width: 100%;
  margin: 0;
  margin-top: 20px;
  padding: 10px 0;
  border: @border-footer;
}

.social__list {
  display: flex;
  flex-flow: row nowrap;
  border-top: @border-footer;
  border-bottom: @border-footer;
  margin-bottom: 30px;
}
.social__item {
  border-right: @border-footer;
  width: 100%;
}
.social__item:last-child {
  border-right: none;
}
.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
}

.page-footer__copyright {
  display: flex;
  flex-flow: column nowrap;
  align-items: center; 
  margin: 0;
  padding: 0 20px;
  color: @white;
  font-size: 0.9em;
}

.copyright__link {
  width: 100%;
  border: @border-footer;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  padding: 15px 0;
  margin-bottom: 23px;
}
*/