@bg-color: #242424;
@brown-bg: #826550;
@main-nav-color: #6a4d38;
@white: #ffffff;
@white-dark: #f8f5f2;
@table-bg: #404040;
@tr-light: #4e4e4e;
@tr-dark: #353535;
@dark-bg: #242424;
@footer-bg: #292929;

body {
  background-color: @bg-color;
}

.main-nav {
  background-color: @brown-bg;
}

.main-nav__toggle {
  background-color: @main-nav-color
}

.stats__header {
  background-color: @white;
}

.stats__list tr {
  background-color: @table-bg;
}
.stats__list tr:nth-child(2) {
  background-color: @tr-light;
}
.stats__list tr:nth-child(3) {
  background-color: @tr-dark;
}

.news {
  background-color: @white-dark;
}

.page-footer {
  background-color: @footer-bg
}